language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-23.0.2

    # The SDK version used to compile your project
    - android-23

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    # - sys-img-armeabi-v7a-android-19
    # - sys-img-x86-android-17
sudo: false

jdk:
  - oraclejdk8

env:
  global:
    MALLOC_ARENA_MAX=2

addons:
  apt:
    packages:
      - python2.7
      - libmagic1
      - p7zip-full

cache:
  directories:
  - $HOME/.local/opt

before_install:
  - ./scripts/install_android_ndk.sh
  - export PATH=$HOME/.local/bin:$PATH
  - pip install -r ./configs/requirements.txt --user

script: ./gradlew build --no-daemon

after_success: ./scripts/travis_upload_release_to_github.py
