<?xml version="1.0" encoding="utf-8"?>
<!--
  ~             Twidere - Twitter client for Android
  ~
  ~  Copyright (C) 2012-2017 Mariotaku Lee <mariotaku.lee@gmail.com>
  ~
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.mariotaku.twidere"
          android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="android.support.customtabs,net.ypresto.androidtranscoder"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Used for account management -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <!-- Used for account sync -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="org.mariotaku.twidere.permission.SHORTEN_STATUS"/>
    <uses-permission android:name="org.mariotaku.twidere.permission.UPLOAD_MEDIA"/>
    <uses-permission android:name="org.mariotaku.twidere.permission.SYNC_TIMELINE"/>
    <uses-permission android:name="org.mariotaku.twidere.permission.ACCESS_DATABASE"/>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove"/>

    <permission-group
        android:name="org.mariotaku.twidere.permission.PERMISSION_GROUP"
        android:label="@string/app_name"/>

    <permission
        android:name="org.mariotaku.twidere.permission.ACCESS_DATABASE"
        android:permissionGroup="org.mariotaku.twidere.permission.PERMISSION_GROUP"
        android:protectionLevel="signature"/>
    <permission
        android:name="org.mariotaku.twidere.permission.SHORTEN_STATUS"
        android:description="@string/permission_description_shorten_status"
        android:label="@string/permission_label_shorten_status"
        android:permissionGroup="org.mariotaku.twidere.permission.PERMISSION_GROUP"/>
    <permission
        android:name="org.mariotaku.twidere.permission.UPLOAD_MEDIA"
        android:description="@string/permission_description_upload_media"
        android:label="@string/permission_label_upload_media"
        android:permissionGroup="org.mariotaku.twidere.permission.PERMISSION_GROUP"/>
    <permission
        android:name="org.mariotaku.twidere.permission.SYNC_TIMELINE"
        android:description="@string/permission_description_sync_timeline"
        android:label="@string/permission_label_sync_timeline"
        android:permissionGroup="org.mariotaku.twidere.permission.PERMISSION_GROUP"/>

    <application
        android:name=".app.TwidereApplication"
        android:allowBackup="true"
        android:appCategory="social"
        android:backupAgent=".backup.TwidereBackupAgentHelper"
        android:description="@string/app_description"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Twidere.NoActionBar"
        tools:ignore="UnusedAttribute">
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"/>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIKbKATV1AGbLB4kem3w8QaPVJSPVVumbMHxkfwA"/>
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="480dp"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="640dp"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="240dp"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="320dp"/>
        <meta-data
            android:name="override_tinted_status_bar_defaults"
            android:value="true"/>

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            tools:node="remove"/>

        <meta-data
            android:name="org.mariotaku.twidere.util.glide.TwidereGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".activity.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.Launcher"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/compose_shortcuts"/>
        </activity>
        <activity
            android:name=".activity.MainHondaJOJOActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_hondajojo"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.Launcher"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/compose_shortcuts"/>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.HOME"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.support.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.ComposeActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_compose"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/Theme.Twidere.Compose"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/title_compose">
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.mariotaku.twidere.COMPOSE"/>
                <action android:name="org.mariotaku.twidere.COMPOSE_TAKE_PHOTO"/>
                <action android:name="org.mariotaku.twidere.COMPOSE_PICK_IMAGE"/>
                <action android:name="org.mariotaku.twidere.REPLY"/>
                <action android:name="org.mariotaku.twidere.QUOTE"/>
                <action android:name="org.mariotaku.twidere.EDIT_DRAFT"/>
                <action android:name="org.mariotaku.twidere.MENTION"/>
                <action android:name="org.mariotaku.twidere.REPLY_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter android:label="@string/title_compose">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.QuickSearchBarActivity"
            android:label="@string/title_search"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.QuickSearchBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.GLOBAL_SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignInActivity"
            android:label="@string/action_sign_in"
            android:theme="@style/Theme.Twidere"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.TWITTER_LOGIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BrowserSignInActivity"
            android:label="@string/title_browser_sign_in"
            android:theme="@style/Theme.Twidere"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.TWITTER_BROWSER_LOGIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/Theme.Twidere"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.mariotaku.twidere.SETTINGS"/>
                <action android:name="org.mariotaku.twidere.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="twidere.settings"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.AccountSelectorActivity"
            android:label="@string/select_account"
            android:theme="@style/Theme.Twidere.Dialog">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.SELECT_ACCOUNT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ColorPickerDialogActivity"
            android:label="@string/action_set_color"
            android:theme="@style/Theme.Twidere.NoDisplay"/>
        <activity
            android:name=".activity.LinkHandlerActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/Theme.Twidere.Content"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="twidere"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MediaViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/media"
            android:theme="@style/Theme.Twidere.Viewer"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>

            <intent-filter>
                <action android:name="org.mariotaku.twidere.VIEW_MEDIA"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FileSelectorActivity"
            android:exported="false"
            android:label="@string/pick_file"
            android:theme="@style/Theme.Twidere.NoDisplay"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.PICK_FILE"/>
                <action android:name="org.mariotaku.twidere.PICK_DIRECTORY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ThemedMediaPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.Twidere.NoDisplay"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.mariotaku.twidere.PICK_IMAGE"/>
                <action android:name="org.mariotaku.twidere.TAKE_PHOTO"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shortcut.ComposeShortcutCreatorActivity"
            android:icon="@mipmap/ic_shortcut_compose"
            android:label="@string/title_compose"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shortcut.UserFavoritesShortcutCreatorActivity"
            android:icon="@mipmap/ic_shortcut_favorite"
            android:label="@string/title_favorites"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shortcut.UserTimelineShortcutCreatorActivity"
            android:icon="@mipmap/ic_shortcut_quote"
            android:label="@string/title_statuses"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shortcut.UserMediaTimelineTimelineShortcutCreatorActivity"
            android:icon="@mipmap/ic_shortcut_gallery"
            android:label="@string/title_media_timeline"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shortcut.UserShortcutCreatorActivity"
            android:icon="@mipmap/ic_shortcut_user"
            android:label="@string/title_user"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shortcut.UserListTimelineShortcutCreatorActivity"
            android:icon="@mipmap/ic_shortcut_list"
            android:label="@string/title_user_list"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RequestPermissionsActivity"
            android:label="@string/permissions_request"
            android:theme="@style/Theme.Twidere.Dialog">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.REQUEST_PERMISSIONS"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserSelectorActivity"
            android:label="@string/select_user"
            android:theme="@style/Theme.Twidere.Dialog"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.SELECT_USER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserListSelectorActivity"
            android:label="@string/select_user_list"
            android:theme="@style/Theme.Twidere.Dialog"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.SELECT_USER_LIST"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TrendsLocationSelectorActivity"
            android:label="@string/trends_location"
            android:theme="@style/Theme.Twidere.NoDisplay"/>
        <activity
            android:name=".activity.DataExportActivity"
            android:label="@string/export_settings"
            android:theme="@style/Theme.Twidere.NoDisplay"/>
        <activity
            android:name=".activity.DataImportActivity"
            android:label="@string/import_settings"
            android:theme="@style/Theme.Twidere.NoDisplay"/>
        <activity
            android:name=".activity.WebLinkHandlerActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=":twidere_twitter_link_handler"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="twitter.com"/>
                <data android:host="www.twitter.com"/>
                <data android:host="mobile.twitter.com"/>
                <data android:host="fanfou.com"/>

                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data
                    android:host="twidere.mariotaku.org"
                    android:pathPrefix="/external"/>
                <data
                    android:host="twidere.org"
                    android:pathPrefix="/external"/>

                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AssistLauncherActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:taskAffinity=":twidere_assist_launcher"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/ic_assist_twidere"/>
        </activity>
        <activity
            android:name=".activity.KeyboardShortcutPreferenceCompatActivity"
            android:theme="@style/Theme.Twidere.Dialog"/>
        <activity
            android:name=".activity.HiddenSettingsActivity"
            android:label="@string/hidden_settings"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.NyanActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Nyan"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.ImageCropperActivity"
            android:label="@string/title_crop_image"
            android:theme="@style/Theme.Twidere"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.IncompatibleAlertActivity"
            android:label="@string/error_title_device_incompatible"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"/>
        <activity
            android:name=".activity.InvalidAccountAlertActivity"
            android:theme="@style/Theme.Twidere.NoDisplay"/>
        <activity
            android:name=".activity.FragmentContentActivity"
            android:theme="@style/Theme.Twidere">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.PremiumDashboardActivity"
            android:label="@string/title_premium_features_name"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/Theme.Twidere">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.content.RetweetQuoteDialogActivity"
            android:theme="@style/Theme.Twidere.NoDisplay"/>
        <activity
            android:name=".activity.content.FavoriteConfirmDialogActivity"
            android:theme="@style/Theme.Twidere.NoDisplay"/>
        <activity
            android:name=".activity.presentation.ToggleRefreshActivity"
            android:label="@string/action_refresh_launch_presentations"
            android:theme="@style/Theme.Twidere.NoDisplay">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.HIDDEN_SETTINGS_ENTRY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.LegacyTaskService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/label_refresh_and_sync_service"/>
        <service
            android:name=".service.JobTaskService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_refresh_and_sync_service"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name=".service.LengthyOperationsService"
            android:label="@string/label_background_operation_service"/>
        <service
            android:name=".service.AccountAuthenticatorService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator"/>
        </service>
        <service
            android:name=".service.AccountSyncService"
            android:exported="true"
            android:process=":sync"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>
        <service
            android:name=".nyan.NyanWallpaperService"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/nyan_sakamoto_thumbnail"
            android:label="@string/message_toast_nyan_sakamoto"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/nyan_wallpaper"/>
        </service>
        <service
            android:name=".nyan.NyanDaydreamService"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/nyan_sakamoto_thumbnail"
            android:label="@string/message_toast_nyan_sakamoto"
            android:process=":daydream"
            tools:ignore="ExportedService">
            <intent-filter android:priority="1">
                <action android:name="android.service.dreams.DreamService"/>
            </intent-filter>
        </service>

        <provider
            android:name=".provider.TwidereDataProvider"
            android:authorities="twidere"
            android:exported="true"
            android:label="@string/label_data_provider"
            android:permission="org.mariotaku.twidere.permission.ACCESS_DATABASE"/>
        <provider
            android:name=".provider.RecentSearchProvider"
            android:authorities="org.mariotaku.twidere.provider.SearchRecentSuggestions"
            tools:ignore="ExportedContentProvider"/>
        <provider
            android:name=".provider.CacheProvider"
            android:authorities="twidere.cache"
            android:exported="false"/>
        <provider
            android:name=".provider.ShareProvider"
            android:authorities="twidere.share"
            android:grantUriPermissions="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.mariotaku.twidere.pncfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pickncrop__file_paths"/>
        </provider>

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SecretCodeBroadcastReceiver"
            android:label="@string/twidere_test">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>

                <data
                    android:host="8943373"
                    android:scheme="android_secret_code"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>