<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mariotaku.twidere"
    android:installLocation="auto">

    <uses-sdk />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="org.mariotaku.twidere.permission.SHORTEN_STATUS" />
    <uses-permission android:name="org.mariotaku.twidere.permission.UPLOAD_MEDIA" />
    <uses-permission android:name="org.mariotaku.twidere.permission.SYNC_TIMELINE" />

    <permission-group
        android:name="org.mariotaku.twidere.permission.PERMISSION_GROUP"
        android:label="@string/app_name" />

    <permission
        android:name="org.mariotaku.twidere.permission.SHORTEN_STATUS"
        android:description="@string/permission_description_shorten_status"
        android:label="@string/permission_label_shorten_status"
        android:permissionGroup="org.mariotaku.twidere.permission.PERMISSION_GROUP" />
    <permission
        android:name="org.mariotaku.twidere.permission.UPLOAD_MEDIA"
        android:description="@string/permission_description_upload_media"
        android:label="@string/permission_label_upload_media"
        android:permissionGroup="org.mariotaku.twidere.permission.PERMISSION_GROUP" />
    <permission
        android:name="org.mariotaku.twidere.permission.SYNC_TIMELINE"
        android:description="@string/permission_description_sync_timeline"
        android:label="@string/permission_label_sync_timeline"
        android:permissionGroup="org.mariotaku.twidere.permission.PERMISSION_GROUP" />

    <application
        android:name=".app.TwidereApplication"
        android:allowBackup="true"
        android:backupAgent=".backup.TwidereBackupAgentHelper"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Twidere.Dark.NoActionBar"
        tools:ignore="UnusedAttribute">
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIKbKATV1AGbLB4kem3w8QaPVJSPVVumbMHxkfwA" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="480dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="640dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="240dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="320dp" />
        <meta-data
            android:name="override_tinted_status_bar_defaults"
            android:value="true" />

        <activity
            android:name=".activity.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Launcher"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainHondaJOJOActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_hondajojo"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Launcher"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.Dark.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.support.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.support.ComposeActivity"
            android:excludeFromRecents="true"
            android:label="@string/compose"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.Dark.Dialog"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/compose">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.mariotaku.twidere.COMPOSE" />
                <action android:name="org.mariotaku.twidere.REPLY" />
                <action android:name="org.mariotaku.twidere.QUOTE" />
                <action android:name="org.mariotaku.twidere.EDIT_DRAFT" />
                <action android:name="org.mariotaku.twidere.MENTION" />
                <action android:name="org.mariotaku.twidere.REPLY_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.support.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.support.QuickSearchBarActivity"
            android:label="@string/search"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.Dark.Dialog"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.GLOBAL_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.SignInActivity"
            android:label="@string/sign_in"
            android:theme="@style/Theme.Twidere.Dark.DialogWhenLarge.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.TWITTER_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.BrowserSignInActivity"
            android:label="@string/browser_sign_in"
            android:theme="@style/Theme.Twidere.Dark.Dialog"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.TWITTER_BROWSER_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/Theme.Twidere.Dark"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <action android:name="org.mariotaku.twidere.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.support.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.support.APIEditorActivity"
            android:label="@string/edit_api"
            android:theme="@style/Theme.Twidere.Dark.Dialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.support.AccountSelectorActivity"
            android:label="@string/select_account"
            android:theme="@style/Theme.Twidere.Dark.Dialog">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.SELECT_ACCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.ColorPickerDialogActivity"
            android:label="@string/set_color"
            android:theme="@style/Theme.Twidere.Dark.NoDisplay" />
        <activity
            android:name=".activity.support.LinkHandlerActivity"
            android:theme="@style/Theme.Twidere.Dark.DialogWhenLarge.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.support.HomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="twidere" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.MediaViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/media"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Twidere.Viewer">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.VIEW_MEDIA" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.FileSelectorActivity"
            android:exported="false"
            android:label="@string/pick_file"
            android:theme="@style/Theme.Twidere.Dark.NoDisplay"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.PICK_FILE" />
                <action android:name="org.mariotaku.twidere.PICK_DIRECTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.ThemedImagePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.Twidere.Dark.NoDisplay"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.mariotaku.twidere.PICK_IMAGE" />
                <action android:name="org.mariotaku.twidere.TAKE_PHOTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.CustomTabEditorActivity"
            android:exported="false"
            android:label="@string/add_tab"
            android:theme="@style/Theme.Twidere.Dark.Dialog"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.ADD_TAB" />
                <action android:name="org.mariotaku.twidere.EDIT_TAB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateComposeShortcutActivity"
            android:label="@string/compose"
            android:theme="@style/Theme.Twidere.Dark.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.RequestPermissionsActivity"
            android:label="@string/permissions_request"
            android:theme="@style/Theme.Twidere.Dark.Dialog">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.REQUEST_PERMISSIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.support.UserListSelectorActivity"
            android:label="@string/select_user_list"
            android:theme="@style/Theme.Twidere.Dark.Dialog">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.SELECT_USER" />
                <action android:name="org.mariotaku.twidere.SELECT_USER_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsWizardActivity"
            android:label="@string/settings_wizard"
            android:theme="@style/Theme.Twidere.Wizard" />
        <activity
            android:name=".activity.support.DataExportActivity"
            android:label="@string/export_settings"
            android:theme="@style/Theme.Twidere.Dark.NoDisplay" />
        <activity
            android:name=".activity.support.DataImportActivity"
            android:label="@string/import_settings"
            android:theme="@style/Theme.Twidere.Dark.NoDisplay" />
        <activity
            android:name=".activity.support.ActivityPickerActivity"
            android:theme="@style/Theme.Twidere.Dark.Dialog">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.PICK_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TwitterLinkHandlerActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=":twidere_twitter_link_handler"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <data
                    android:host="twitter.com"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="twitter.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.twitter.com"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="www.twitter.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="mobile.twitter.com"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="mobile.twitter.com"
                    android:pathPrefix="/"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AssistLauncherActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:taskAffinity=":twidere_assist_launcher"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/ic_assist_twidere" />
        </activity>
        <activity
            android:name=".activity.KeyboardShortcutPreferenceCompatActivity"
            android:theme="@style/Theme.Twidere.Dark.Dialog" />
        <activity
            android:name=".activity.TestActivity"
            android:enabled="false"
            android:label="Twidere test"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NyanActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Nyan"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.UsageStatisticsActivity"
            android:label="@string/usage_statistics"
            android:theme="@style/Theme.Twidere.Dark.NoDisplay" />
        <activity
            android:name=".activity.ImageCropperActivity"
            android:label="@string/crop_image"
            android:theme="@style/Theme.Twidere.Dark.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.RefreshService"
            android:label="@string/label_refresh_service" />
        <service
            android:name=".service.StreamingService"
            android:label="@string/label_streaming_service" />
        <service
            android:name=".service.BackgroundOperationService"
            android:label="@string/label_background_operation_service" />
        <service
            android:name=".nyan.NyanWallpaperService"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/nyan_sakamoto_thumbnail"
            android:label="@string/nyan_sakamoto"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/nyan_wallpaper" />
        </service>
        <service
            android:name=".nyan.NyanDaydreamService"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/nyan_sakamoto_thumbnail"
            android:label="@string/nyan_sakamoto"
            android:process=":daydream"
            tools:ignore="ExportedService">
            <intent-filter android:priority="1">
                <action android:name="android.service.dreams.DreamService" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.TwidereDataProvider"
            android:authorities="twidere"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="@string/label_data_provider"
            tools:ignore="ExportedContentProvider" />
        <provider
            android:name=".provider.TwidereCommandProvider"
            android:authorities="twidere.command"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <provider
            android:name=".provider.RecentSearchProvider"
            android:authorities="org.mariotaku.twidere.provider.SearchRecentSuggestions"
            tools:ignore="ExportedContentProvider" />

        <receiver android:name=".receiver.ConnectivityStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.mariotaku.twidere.NOTIFICATION_DELETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SecretCodeBroadcastReceiver"
            android:label="@string/twidere_test">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="8943373"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PowerStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
