<manifest
    package="org.mariotaku.twidere.donate.nyanwp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name="org.mariotaku.twidere.nyan.NyanWallpaperService"
            android:exported="true"
            android:label="@string/livewp_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/nyan_wallpaper"/>
        </service>
        <service
            android:name="org.mariotaku.twidere.nyan.NyanDaydreamService"
            android:exported="true"
            android:label="@string/daydream_name"
            android:process=":daydream"
            tools:ignore="ExportedService">
            <intent-filter android:priority="1">
                <action android:name="android.service.dreams.DreamService"/>
            </intent-filter>
        </service>
    </application>

</manifest>